<!-- <mat-form-field class="example-full-width">
    <input matInput placeholder="Create new Panel">
</mat-form-field> -->
<div class="todo-container" cdkDropListGroup>
    <div class="todo-panel" *ngFor="let todoList of todoLists">
        <h2>{{ todoList.name }}</h2>
        <div cdkDropList
            [cdkDropListData]="todoList.cardList"
            class="todo-list" (cdkDropListDropped)="drop($event)">
            <div class="todo-box" *ngFor="let item of todoList.cardList" cdkDrag>{{item}}</div>
        </div>
    </div>
</div>
